<!-- <p>Recipe List</p> -->
<!-- <app-recipe-item></app-recipe-item> -->

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onCreateRecipe()">New Recipe</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        @for (recipe_loop of recipes; track $index) {
            <app-recipe-item
                [recipe]="recipe_loop"
                [index]=$index>
                <!--(recipeSelected)="onDisplayRecipe(recipe_loop)"> -> No longer needed because we use a service instead of chain of comms -->
            </app-recipe-item>
        }
    </div>
</div>
