<!-- <p>Shopping Edit</p> -->

<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddOrEditIngredient(f)" #f="ngForm">
            <div class="row">
                <div class="col">
                    <div class="col-sm-5 form-group">
                        <label for='name'>Name:</label>
                        <input
                            type="text"
                            id="name"
                            class="form-control"
                            ngModel
                            name="name"
                            required>
                            <!--#nameInput/>--> <!--Local references no longer needed when we use forms-->
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for='amount'>Amount:</label>
                        <input
                            type="number"
                            id="amount"
                            class="form-control"
                            ngModel
                            name="amount"
                            required
                            min="1"> <!--min="1" is equivalent to pattern="^[1-9]+[0-9]*$"-->
                            <!--#amountInput/>--> <!--Local references no longer needed when we use forms-->
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button
                        class="btn btn-success"
                        type="submit"
                        [disabled]="f.invalid">
                        <!--(click)="onAddIngredient(amountInput.value)">--> <!--Stop using click listener when we use form instead-->
                        {{ areEditingItem ? "Update" : "Add" }}
                    </button>
                    <button
                        class="btn btn-danger"
                        type="button"
                        (click)="onDeleteIngredient()"
                        [disabled]="!this.areEditingItem">
                        Delete
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        (click)="onClear()">
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>