<ng-template appPlaceholder></ng-template>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            ngIf method of generating dynamic components (here) is much simpler than
            generating it programatically, prefer it when possible
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!-- <app-alert [message]="errorMessage" *ngIf="errorMessage" (close)="onHandleError()"></app-alert> -->

        <!--Only appears if errorMessage is not null-->
        <!-- <div class="alert alert-danger" *ngIf="errorMessage"> 
            <p>{{ errorMessage }} </p>
        </div> -->
        
        <div *ngIf="areLoading" style="text-align: center;">
            <app-loading-spinner />
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!areLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    ngModel
                    name="password"
                    required
                    minlength="6">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">
                    {{ isLoginMode ? "Log In" : "Sign Up" }}
                </button>
                |
                <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
                    Switch to {{ isLoginMode ? "Registration Mode" : "Login Mode" }}
                </button>
            </div>
        </form>
    </div>
</div>