<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  >
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element.</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first element.</button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      > <!--Passing in serverElement as the 'element' member variable of the app-server-element-->

        <!-- Pass in these contents here -->
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>  
        </p>
      </app-server-element>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (gameControllerEmission)="onGameControllerEmission($event)"
      >
      </app-game-control>
      <!-- Does not show anything??? Even <p>Hello World!</p> does not show up??? -->
      @for (emittedNumber of emittedNumbers; track $index) {
        @if (emittedNumber % 2 != 0) {
          <app-odd [num]="emittedNumber"></app-odd>
        }
        @else {
          <app-even [num]="emittedNumber"></app-even>
        }
      }

      <!-- Does not show anything??? -->
      <!-- <div *ngFor="let emittedNumber of emittedNumbers">
        <p>{{ emittedNumber }}</p>
      </div> -->

    </div>
  </div>
</div>
