<!-- <p>Shopping List</p> -->
<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit>
            <!--(ingredientToAdd)="onIngredientAdded($event)"--> <!--Using a service instead-->
        </app-shopping-edit>
        
        <hr>
        
        <!-- <p>The list</p>     -->
        <ul class="list-group">
            <a
                class="list-group-item"
                cursor="pointer"
                *ngFor="let ingredient of ingredients">
                <p>{{ ingredient.name }} ({{ ingredient.amount }})</p>
            </a>
        </ul>
    </div>
</div>